<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.licenta.classmanager"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />
    
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.licenta.classmanager.activities.DashboardActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.licenta.classmanager.activities.TaskAddEditActivity"
            android:label="@string/title_activity_add_task"
            android:parentActivityName="com.licenta.classmanager.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="MainActivity" />
        </activity>
        <activity
            android:name="com.licenta.classmanager.activities.NoteAddEditActivity"
            android:label="@string/title_activity_add_note" >
        </activity>
        <activity
            android:name="com.licenta.classmanager.activities.ClassAddEditActivity"
            android:label="@string/title_activity_add_class" >
        </activity>
        <activity
            android:name="com.licenta.classmanager.activities.WelcomeActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.licenta.classmanager.activities.LoginActivity"
            android:label="@string/title_activity_login" >
        </activity>
        <activity
            android:name="com.licenta.classmanager.activities.RegisterActivity"
            android:label="@string/title_activity_register" >
        </activity>
        <activity
            android:name="com.licenta.classmanager.activities.ClassDetailsActivity"
            android:label="@string/title_activity_class_details" >
        </activity>
        <activity
            android:name="com.licenta.classmanager.activities.NoteDetailsActivity"
            android:label="@string/title_activity_note_details" >
        </activity>
        <activity
            android:name="com.licenta.classmanager.activities.TaskDetailsActivity"
            android:label="@string/title_activity_task_details" >
        </activity>
    </application>

</manifest>
